
.square {
    width: 200px;
    height: 200px;
    border-style: solid;
    border-color: black;
    border-radius: 12%;
}
.grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    width: 618px;
    height: 618;
}
.mole {
    background-image: url('./avocado.jpeg');
    background-size: 100% 100%;
}
